In [7]:
import pandas as pd

In [8]:
lista_original = ['ACREERONDONIA','AMAZONASERORAIMA','CEARA','ESPIRITOSANTO','GOIAS','MARANHAO','MATOGROSSO','MATOGROSSODOSUL','MINASGERAIS','OFEDERALETOCANTINS','PARAEAMAPA','PARAIBA','PARANA','PERNAMBUCO','PIAUI', 'RIODEJANEIRO','RIOGRANDEDONORTE','RIOGRANDEDOSUL','SANTACATARINA','SAOPAULO']
lista_corrigida = ['ACRE E RONDÔNIA','AMAZONAS E RORAIMA','CEARÁ','ESPÍRITO SANTO','GOIÁS','MARANHÃO','MATO GROSSO','MATO GROSSO DO SUL','MINAS GERAIS','DISTRITO FEDERAL E TOCANTINS','PARA E AMAPÁ','PARAÍBA','PARANÁ','PERNAMBUCO','PIAUÍ','RIO DE JANEIRO','RIO GRANDE DO NORTE','RIO GRANDE DO SUL','SANTA CATARINA','SÃO PAULO']

In [9]:
lista_original

['ACREERONDONIA',
 'AMAZONASERORAIMA',
 'CEARA',
 'ESPIRITOSANTO',
 'GOIAS',
 'MARANHAO',
 'MATOGROSSO',
 'MATOGROSSODOSUL',
 'MINASGERAIS',
 'OFEDERALETOCANTINS',
 'PARAEAMAPA',
 'PARAIBA',
 'PARANA',
 'PERNAMBUCO',
 'PIAUI',
 'RIODEJANEIRO',
 'RIOGRANDEDONORTE',
 'RIOGRANDEDOSUL',
 'SANTACATARINA',
 'SAOPAULO']

In [10]:
lista_corrigida

['ACRE E RONDÔNIA',
 'AMAZONAS E RORAIMA',
 'CEARÁ',
 'ESPÍRITO SANTO',
 'GOIÁS',
 'MARANHÃO',
 'MATO GROSSO',
 'MATO GROSSO DO SUL',
 'MINAS GERAIS',
 'DISTRITO FEDERAL E TOCANTINS',
 'PARA E AMAPÁ',
 'PARAÍBA',
 'PARANÁ',
 'PERNAMBUCO',
 'PIAUÍ',
 'RIO DE JANEIRO',
 'RIO GRANDE DO NORTE',
 'RIO GRANDE DO SUL',
 'SANTA CATARINA',
 'SÃO PAULO']

In [12]:
df_dados_txt = pd.DataFrame({'LOCAL': lista_original})
df_dados_txt

                 LOCAL
0        ACREERONDONIA
1     AMAZONASERORAIMA
2                CEARA
3        ESPIRITOSANTO
4                GOIAS
5             MARANHAO
6           MATOGROSSO
7      MATOGROSSODOSUL
8          MINASGERAIS
9   OFEDERALETOCANTINS
10          PARAEAMAPA
11             PARAIBA
12              PARANA
13          PERNAMBUCO
14               PIAUI
15        RIODEJANEIRO
16    RIOGRANDEDONORTE
17      RIOGRANDEDOSUL
18       SANTACATARINA
19            SAOPAULO

In [13]:
for x in range(20):
    df_dados_txt['LOCAL'] = df_dados_txt['LOCAL'].apply(lambda local: local.replace(lista_original[x], lista_corrigida[x]))

In [14]:
df_dados_txt

                           LOCAL
0                ACRE E RONDÔNIA
1             AMAZONAS E RORAIMA
2                          CEARÁ
3                 ESPÍRITO SANTO
4                          GOIÁS
5                       MARANHÃO
6                    MATO GROSSO
7               MATO GROSSODOSUL
8                   MINAS GERAIS
9   DISTRITO FEDERAL E TOCANTINS
10                  PARA E AMAPÁ
11                       PARAÍBA
12                        PARANÁ
13                    PERNAMBUCO
14                         PIAUÍ
15                RIO DE JANEIRO
16           RIO GRANDE DO NORTE
17             RIO GRANDE DO SUL
18                SANTA CATARINA
19                     SÃO PAULO